@using RedHawk.Model.InboundModel
@model InboundModel


<script>
    $(function () {

        var docSpec = {

        };

        var xml = $("#InboundXMLString").val();
        var ceaId = $("#CeaXmlId").val();
        console.log(ceaId);
        var editor = document.getElementById("CeaXmlId");
        Xonomy.render(xml, editor, docSpec);


    })

</script>

@Html.AntiForgeryToken()

<div class="form-horizontal col-md-12">
    <hr />
    @Html.HiddenFor(model => model.CeaXmlId)
    @Html.HiddenFor(model => model.InboundXMLString)


    <div class="form-group">
        @Html.LabelFor(model => model.TransactionType, "TRANSACTION TYPE", new { @class = "control-label col-md-2 text-primary" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.CeaXmlId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CeaXmlId)
        </div>
    </div>
    <div class="form-group">
        <div class="demo-container" style="border:1px solid #99d7ef; padding:20px;">
            <input type="hidden" id="CeaXmlId" name="CeaXmlId" value="@Model.CeaXmlId" />

            @*<div id="ceaXmlId" typeof="hidden"></div>*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnSaveXML" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>




